body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background-image: url('https://media.giphy.com/media/RkDZq0dhhYHhxdFrJB/giphy.gif');
    background-position-y: center;
    background-size: cover;
}

